<%- include('../layouts/auth-head.ejs') %>

<div class="position-relative w-100 h-100">
  <div class="container-fluid w-100 h-100">
    <div class="row mx-auto h-100">
      <div class="col-lg-4 col-md-6 col-sm-8 mx-auto my-auto">
        <div
          class="card w-100 card-body text-dark-gray px-3 py-5 bg-transparent border-0"
        >
          <div class="mb-3 text-center">
            <p class="my-0">Welcome to</p>
            <p class="fs-3">Phoe<span class="text-primary">nix.Com</span></p>
          </div>
          <!-- alert -->

          <% if(flashdata) { %>
          <div
            class="alert text-light bg-<%= flashdata.type === "error" ? "danger" : flashdata.type %> alert-dismissible fade show"
            role="alert"
          >
            <%= flashdata.message %>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <% } %>
          <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="mb-3">
              <label for="email" class="form-label fs-6 text-dark"
                >E-mail</label
              >
              <input
                type="email"
                name="email"
                class="form-control rounded-0 py-2"
                id="email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label fs-6 text-dark"
                >Password</label
              >
              <input
                type="password"
                name="password"
                class="form-control rounded-0 py-2"
                id="password"
              />
            </div>
            <div class="d-flex mt-4">
              <button class="btn btn-primary text-light flex-grow-1 py-2 fs-5">
                login
              </button>
            </div>
            <div class="ps-0 mt-5">
              <ul class="ps-3">
                <li>
                  Forgot
                  <a
                    href="/forgot-password"
                    class="text-decoration-none text-primary"
                    >password</a
                  >
                </li>
                <li>
                  Don't have an account?<a
                    href="/signup"
                    class="text-decoration-none text-primary"
                  >
                    Sing up here!</a
                  >
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/auth-end.ejs') %>
