<%- include('../layouts/auth-head.ejs') %>

<div class="position-relative w-100 h-100 bg-light">
  <div class="container-fluid w-100 h-100">
    <div class="row mx-auto h-100">
      <div class="col-lg-4 col-md-6 col-sm-8 mx-auto my-auto">
        <div class="card w-100  text-dark-gray  shadow-sm border-0 ">
          <div class="card-body px-5 py-5">
            <div class="d-flex mx-auto text- mb-4 text-primary rounded-circle bg-primary text-light border-primary p-3"
              style="height: 70px; width: 70px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-unlock">
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                <path d="M7 11V7a5 5 0 0 1 9.9-1"></path>
              </svg>
            </div>
            <div class="mb-1 text-center">

              <p class="fs-3 fw-bold">Set your new password</p>
              <p>Please enter your new password</p>
            </div>
            <!-- alert -->

            <% if(flashdata.length > 0) { %>
            <% flashdata.forEach(flash => { %>
            <div
              class="alert rounded-0 border-0  alert-<%= flash.type === "error" ? "danger" : flash.type %> alert-dismissible fade show"
              role="alert">
              <small> <%= flash.message %></small>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }) %>

            <% } %>
            <form action="/new-password" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="mb-3">
                <input type="hidden" name="userId" class="form-control rounded-0 py-2" id="userId"
                  value="<%= user._id.toString() %>" />
                <input type="hidden" name="passwordToken" class="form-control rounded-0 py-2" id="passwordToken"
                  value="<%= user.resetToken %> " />
              </div>
              <div class="mb-3">
                <input type="password" name="password" class="form-control rounded-0 py-2" id="password"
                  placeholder="Enter your password" />
              </div>
              <div class="mb-3">
                <input type="password2" name="password2" class="form-control rounded-0 py-2" id="password2"
                  placeholder="Repeat your password" />
              </div>

              <div class="d-flex mt-4">
                <button class="btn btn-primary text-light flex-grow-1 py-2 fs-5">
                  Submit
                </button>
              </div>
              <div class="mt-5 text-center">
                <a href="/login" class="text-decoration-none text-primary-hover text-dark-gray">
                  <i data-feather="chevron-left"></i>
                  <span>Back to login</span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/auth-end.ejs') %>