<%- include('../layouts/head.ejs') %>
<%- include('../layouts/header.ejs') %>
<%- include('../layouts/sidebar-admin.ejs') %>

<main class="phoenix-main">
  <div class="container-fluid">
    <!-- Title page -->
    <div class="row">
      <h5 class="font-weight-bold">
        <i data-feather="package" class="mt-n1 mr-1"></i>
        <span class="mt-1">Products</span>
      </h5>
    </div>


  </div>
</main>

<%- include('../layouts/footer.ejs') %> <%- include('../layouts/end.ejs') %>