<%- include('../layouts/admin-head.ejs') %> <%- include('../layouts/header.ejs')
%> <%- include('../layouts/sidebar-admin.ejs') %>

<main class="phoenix-main">
  <div class="container-fluid">
    <!-- Title page -->
    <div class="row">
      <h5 class="font-weight-bold">
        <% if (editing) { %>
        <i data-feather="edit" class="mt-n1 mr-1"></i>
        <span class="mt-1">Update product</span>
        <% } else { %>
        <i data-feather="plus" class="mt-n1 mr-1"></i>
        <span class="mt-1">Create new product</span>

        <% } %>
      </h5>
    </div>



    <div class="row px-0 mt-4">
      <div class="col-lg-8 pl-0 col-xl-11">
        <div class="card border-0 bg-transparent shadow-sm pt-4">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST"
                  enctype="multipart/form-data">
                  <div class="row mb-3">
                    <div class="col-lg-6">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                      <% if (editing) { %>
                      <input type="hidden" value="<%= product._id %>" name="productId" />
                      <% } %>
                      <div class="form-group row">
                        <label for="" class="col-form-label col-lg-4">Title</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control form-control-lg bg-transparent" name="title" id="title"
                            value="<% if (editing) { %><%= product.title %><% } else { %><%= inputsValue.title %><% } %>" />
                          <% if(errors && errors.title) { %>
                          <small class=" text-danger mt-3"> <%= errors.title?.message[0] %></small>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group row">
                        <label for="" class="col-form-label col-lg-3">Price</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control form-control-lg bg-transparent" name="price" id="price"
                            step="0.01"
                            value="<% if (editing) { %><%= product.price.num %><% } else { %><%= inputsValue.price %><% } %>" />
                          <% if(errors && errors.price) { %>
                          <small class=" text-danger mt-3"> <%= errors.price?.message[0] %></small>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="col-md-12 mb-3">
                      <div class="form-group row">
                        <label for="" class="col-form-label col-lg-2">ImgUrl</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control form-control-lg bg-transparent" name="imageUrl"
                            id="imageUrl"
                            value="<% if (editing) { %><%= product.imageUrl %><% } else { %><%= inputsValue.imageUrl %><% } %>" />
                          <% if(errors && errors.imageUrl) { %>
                          <small class=" text-danger mt-3"> <%= errors.imageUrl?.message[0] %></small>
                          <% } %>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-md-12 mb-3">
                      <div class="form-group row">
                        <label for="" class="col-form-label col-lg-2">Description</label>
                        <div class="col-lg-10">
                          <textarea name="description" id="description"
                            class="form-control form-control-lg bg-transparent" cols="30" rows="3">
<% if (editing) { %><%= product.description %><% } else { %><%= inputsValue.description %><% } %></textarea>
                          <% if(errors && errors.description) { %>
                          <small class=" text-danger mt-3"> <%= errors.description?.message[0] %></small>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-group row">
                        <label for="image" class="col-form-label col-lg-2">Image</label>
                        <div class="col-lg-10">
                          <% if (editing) { %>
                          <div class="row d-flex">
                            <div class="col-md-7 col-lg-8 order-2 d-flex align-items-center">
                              <input class="form-control bg-transparent my-auto" type="file" name="image" id="image">
                            </div>
                            <div class="col-md-5 col-lg-4 order-1">
                              <img src="http://localhost/local-clouds/assets/phoenix-shop/chair2.png" class="w-100"
                                height="200" alt="">
                            </div>
                          </div>
                          <% } else { %>
                          <input class="form-control bg-transparent " type="file" name="image" id="image">
                          <% if(errors && errors.image) { %>
                          <small class=" text-danger mt-3"> <%= errors.image?.message[0] %></small>
                          <% } %>
                          <% }  %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3 pb-3">
                      <div class="row px-2">
                        <div class="col-6 col-md-8"></div>
                        <div class="col-6 col-md-4 d-grid">
                          <button class="btn btn-primary text-light" type="submit">
                            <% if (editing) { %>Update Product<% } else { %>Add
                            Product<% } %>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../layouts/footer.ejs') %> <%- include('../layouts/admin-end.ejs')
%>