<%- include('../layouts/head.ejs') %> <%- include('../layouts/header.ejs') %>
<%- include('../layouts/sidebar.ejs') %>

<main class="phoenix-main">
  <div class="container-fluid">
    <!-- Title page -->
    <div class="row">
      <h5 class="font-weight-bold">
        <i data-feather="list" class="mt-n1 mr-1"></i>
        <span class="mt-1">Products</span>
      </h5>
    </div>

    <div class="row mt-4 mb-4">
      <% if (prods.length > 0) { %> <% let no = 1 %> <% for (const product of
      prods) { %>
      <div class="col-lg-3 col-md-4 pl-0 mb-3 phx-card-stretch">
        <div class="card phx-card-product">
          <div class="phx-img-product">
            <img
              src="<%= product.imageUrl %>"
              class="card-img-top"
              alt=" ..."
            />
          </div>
          <div class="card-body d-flex flex-column">
            <h5
              class="card-title overflow-hidden w-100 text-nowrap text-ellipsis"
              title="<%= product.title %>"
            >
              <%= product.title %>
            </h5>
            <span class="text-primary mb-2"><%= product.price.rupiah %></span>
            <p class="overflow-hidden w-100 text-nowrap text-ellipsis">
              <%= product.description %>
            </p>
            <div class="d-flex mt-auto justify-content-between">
              <% if (isAuthenticated) { %> <%-
              include('../includes/add-to-cart.ejs', {product: product,
              className: "mt-auto"}) %> <% } %>
              <a
                href="/products/<%= product._id %>"
                class="btn btn-outline-primary text-white-500-hover"
                >Detail</a
              >
            </div>
          </div>
        </div>
      </div>
      <% } %> <% } else { %>
      <div class="col-12">
        <h1>Product is Empty</h1>
      </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('../layouts/footer.ejs') %> <%- include('../layouts/end.ejs') %>
