<%- include('../layouts/head.ejs') %> <%- include('../layouts/header.ejs') %>
<%- include('../layouts/sidebar.ejs') %>

<main class="phoenix-main">
  <div class="container-fluid">
    <!-- Title page -->
    <div class="row">
      <h5 class="font-weight-bold">
        <i data-feather="send" class="mt-n1 mr-1"></i>
        <span class="mt-1">My Orders</span>
      </h5>
    </div>
    <div class="ro mt-4">
      <div class="col-md-12">
        <div class="card bg-transparent border-0">
          <div class="table-responsive">
            <table class="table table-borderless table-hover">
              <thead class="text-black-50 border-bottom">
                <tr>
                  <th scope="col">No Order</th>
                  <th scope="col" colspan="2">Items</th>
                  <th scope="col">Price</th>
                  <th scope="col">Dilevery</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (orders.length > 0) { %> <% orders.forEach(order => { %>
                <tr class="border-bottom">
                  <th scope="row"><%= order.orderNumber %></th>
                  <td colspan="2">
                    <% order.products.forEach(p=> {%>
                    <div class="d-flex mb-5">
                      <div style="width: 90px; height: 80px" class="position-relative me-2">
                        <img class="object-cover w-100" src="<%= p.product.imageUrl
                    %>" alt="" />
                      </div>
                      <div class="d-flex flex-column justify-content-center ml-2">
                        <small class="text-black-50" style="white-space: nowrap">
                          <%= p.product.title %>
                          <span class="text-primary">
                            (x<%= p.quantity %>)
                          </span>
                        </small>
                      </div>
                    </div>
                    <% }); %>
                  </td>
                  <td><%= order.total.rupiah %></td>
                  <td class="text-capitalize"><%= order.shipping?.method %></td>
                  <td>
                    <div>
                      <a href="#" class="btn btn-primary btn-sm rounded-0 text-white">Cancel</a>
                      <a target="_blank" href="/order/<%= order._id %> "
                        class="btn btn-outline-primary  btn-sm rounded-0">

                        Invoice</a>
                    </div>
                  </td>
                </tr>

                <% }) %> <% } else { %>
                <tr>
                  <td colspan="7" class="text-center text-dark">
                    No orders here!
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../layouts/footer.ejs') %> <%- include('../layouts/end.ejs') %>